# Nettoyage du Dataset Baby-foot Ynov

Ce notebook effectue le nettoyage et la pr√©paration des donn√©es de matchs de baby-foot pour l'analyse.

## Objectifs
- Nettoyer les donn√©es brutes
- Standardiser les formats
- Cr√©er des features pour l'analyse
- Exporter un dataset propre

## 1. Installation des d√©pendances

In [31]:
!pip install word2number

Requirement already satisfied: word2number in /usr/local/lib/python3.12/dist-packages (1.1)

## 2. Import des biblioth√®ques

In [32]:
import pandas as pd
import numpy as np
from dateutil import parser
import re
from word2number import w2n
from datetime import datetime

# Montage de Google Drive (pour Colab)
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 3. Chargement du dataset

In [33]:
FILE_PATH = '/content/drive/MyDrive/babyfoot_dataset.csv'
SEPARATEUR = ','

df = pd.read_csv(FILE_PATH, sep=SEPARATEUR)

print(df.head(5))
print(df.info())
print(f"\nDimensions du dataset : {df.shape}")

/tmp/ipython-input-2000172189.py:4: DtypeWarning: Columns (10,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(FILE_PATH, sep=SEPARATEUR)

   game_id      game_date               location table_id table_condition  \
0  G015295  Feb 06st 2023          Ynov Toulouse      T05     beer stains
1  G023800     24-03-2023  Cafeteria (1st floor)      T07            worn
2  G023577     2025-01-13               Gym Hall      T26       scratched
3  G020644    Nov 11 2025      Salle Polyvalente      T21            worn
4  G011677      30 Sep 23     Campus - Cafeteria      T26   missing screw

      ball_type                      music_playing          referee  \
0           NaN  Spotify: Queen - We Will Rock You         Paul Kim
1           NaN                     Indie playlist              NaN
2           NaN  Spotify: Queen - We Will Rock You     Lena Clement
3     mini ball                            EDM mix  Isabella Girard
4  trainer ball                         Oldies 80s              yes

  game_duration final_score_red  ... possession_time mood    player_comment  \
0         12.45               0  ...            9:36    1        ref biased
1          8.57              10  ...             NaN    üôÇ               NaN
2          17.2               2  ...         5.09min    2               NaN
3          5.18               6  ...             NaN    3  team spirit high
4          6min               3  ...             177    üòÇ         rage quit

  team_color is_substitute ping_ms          notes duplicate_flag misc  \
0        Red           yes     185        injured            NaN  NaN
1       Blue           yes     NaN            NaN              0    -
2          R            no     NaN  double booked              0  NaN
3          B         maybe     NaN  double booked            NaN    -
4        Red           yes     NaN            NaN            NaN  NaN

            created_at
0  2025-10-02T10:41:54
1  2025-10-02T10:41:55
2  2025-10-02T10:41:55
3  2025-10-02T10:41:54
4  2025-10-02T10:41:54

[5 rows x 35 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100200 entries, 0 to 100199
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                100200 non-null  object
 1   game_date              100200 non-null  object
 2   location               100200 non-null  object
 3   table_id               100200 non-null  object
 4   table_condition        100200 non-null  object
 5   ball_type              77675 non-null   object
 6   music_playing          90126 non-null   object
 7   referee                40117 non-null   object
 8   game_duration          100200 non-null  object
 9   final_score_red        100200 non-null  object
 10  final_score_blue       95294 non-null   object
 11  winner                 95531 non-null   object
 12  attendance_count       88988 non-null   object
 13  season                 100200 non-null  object
 14  recorded_by            100200 non-null  object
 15  rating_raw             100200 non-null  object
 16  player_id              100200 non-null  object
 17  player_name            100200 non-null  object
 18  player_canonical_name  100200 non-null  object
 19  player_age             60313 non-null   object
 20  player_role            100200 non-null  object
 21  player_goals           100200 non-null  object
 22  player_own_goals       100200 non-null  object
 23  player_assists         100200 non-null  object
 24  player_saves           100200 non-null  int64
 25  possession_time        75148 non-null   object
 26  mood                   88970 non-null   object
 27  player_comment         83613 non-null   object
 28  team_color             100200 non-null  object
 29  is_substitute          75024 non-null   object
 30  ping_ms                50024 non-null   object
 31  notes                  66813 non-null   object
 32  duplicate_flag         60333 non-null   object
 33  misc                   40072 non-null   object
 34  created_at             100200 non-null  object
dtypes: int64(1), object(34)
memory usage: 26.8+ MB
None

Dimensions du dataset : (100200, 35)

## 4. Suppression des doublons et valeurs manquantes

In [34]:
# Suppression des lignes dont les IDs critiques manquent
df.dropna(subset=['player_id', 'game_id'], inplace=True)

# Suppression des doublons
df.drop_duplicates(subset=['game_id', 'player_id'], inplace=True)

# Nettoyage global
df = df.replace('ÔøΩ', '', regex=True)

print(f"Apr√®s nettoyage des IDs et doublons : {df.shape[0]} lignes restantes")

Apr√®s nettoyage des IDs et doublons : 100000 lignes restantes

## 5. Nettoyage des scores

Gestion des diff√©rents formats de scores :
- Format 'x - y' dans une seule colonne
- Scores s√©par√©s dans deux colonnes
- Validation : scores entre 0 et 10

In [35]:
def clean_final_score(row):
    """Nettoie les scores red et blue quand le format 'x - y' est dans final_score_red."""
    s_red = row['final_score_red']
    s_blue = row['final_score_blue']

    if pd.isna(s_red):
        return pd.Series([pd.NA, pd.NA])

    s_red = str(s_red).strip().lower()
    s_blue = str(s_blue).strip().lower()

    # Si format 'x - y' d√©tect√©
    if ' - ' in s_red:
        parts = s_red.split(' - ')
        red = int(float(parts[0].strip()))
        blue = int(float(parts[1].strip()))
    else:
        try:
            red = int(float(s_red))
            blue = int(float(row['final_score_blue'])) if not pd.isna(row['final_score_blue']) else pd.NA
        except:
            return pd.Series([pd.NA, pd.NA])

    # R√®gle m√©tier : score entre 0 et 10
    if not (0 <= red <= 10 and (blue is pd.NA or 0 <= blue <= 10)):
        return pd.Series([pd.NA, pd.NA])

    return pd.Series([red, blue])

# Application
df[['final_score_red','final_score_blue']] = df.apply(clean_final_score, axis=1).astype('Int64')

print("‚úì Scores nettoy√©s")
print(f"Lignes avec scores manquants : {df[df['final_score_red'].isna()].shape[0]}")

‚úì Scores nettoy√©s
Lignes avec scores manquants : 0

## 6. Standardisation des couleurs d'√©quipe et du gagnant

In [36]:
def standardize_color(color):
    """Standardise les couleurs d'√©quipe en 'RED' ou 'BLUE'."""
    if pd.isna(color):
        return 'UNKNOWN'

    color = str(color).strip().lower()

    if color in ['red', 'r', 'redteam', 'üî¥', 'rouge']:
        return 'RED'
    elif color in ['blue', 'b', 'blueteam','üîµ', 'bleu']:
        return 'BLUE'
    elif color in ['tie', 'draw']:
        return 'DRAW'
    else:
        return 'UNKNOWN'

# Application
print("Valeurs uniques avant standardisation :")
print(f"team_color: {df['team_color'].unique()}")
print(f"winner: {df['winner'].unique()}")

df['winner'] = df['winner'].apply(standardize_color)
df['team_color'] = df['team_color'].apply(standardize_color)

# Suppression des matchs inutilisables
df = df[df['winner'] != 'UNKNOWN']

print(f"\n‚úì Couleurs standardis√©es")
print(f"Lignes restantes : {df.shape[0]}")

Valeurs uniques avant standardisation :
team_color: ['Red' 'Blue' 'R' 'B' 'üî¥' 'üîµ' 'blue' 'red']
winner: ['Blue' 'red' 'Bleu' 'blue' 'Red' nan 'R' 'B' 'BLUE' 'Rouge' 'draw' 'TIE'
 'RED' 'tie']

‚úì Couleurs standardis√©es
Lignes restantes : 95340

## 7. Nettoyage des statistiques joueurs

Traitement des buts, assists, saves (conversion texte ‚Üí nombre)

In [37]:
def clean_player_stat(stat):
    """Nettoie les statistiques de joueur (buts, saves, etc.)"""
    if pd.isna(stat):
        return 0

    stat = str(stat).strip().lower()

    # G√©rer les cas textuels (ex: 'two' -> 2)
    text_to_num = {
        'zero': 0, 'one': 1, 'two': 2,
        'three': 3, 'four': 4, 'five': 5
    }
    if stat in text_to_num:
        return text_to_num[stat]

    try:
        return int(float(stat))
    except:
        return 0

stats_cols = ['player_goals', 'player_own_goals', 'player_assists', 'player_saves']
for col in stats_cols:
    df[col] = df[col].apply(clean_player_stat)

print("‚úì Statistiques joueurs nettoy√©es")
print("\nAper√ßu des statistiques :")
print(df[stats_cols].describe())

‚úì Statistiques joueurs nettoy√©es

Aper√ßu des statistiques :
       player_goals  player_own_goals  player_assists  player_saves
count  95340.000000      95340.000000    95340.000000  95340.000000
mean       2.484959          0.029285        2.503891      4.996769
std        2.486927          0.218080        1.709463      3.162448
min        0.000000          0.000000        0.000000      0.000000
25%        0.000000          0.000000        1.000000      2.000000
50%        2.000000          0.000000        3.000000      5.000000
75%        4.000000          0.000000        4.000000      8.000000
max       10.000000          2.000000        5.000000     10.000000

## 8. Conversion des dates

Parsing des dates multilingues (FR/EN) + extraction du jour de la semaine

In [38]:
# Dictionnaire pour traduire les mois fran√ßais vers anglais
mois_fr = {
    "janv": "jan", "f√©vr": "feb", "fevr": "feb", "mars": "mar", "avr": "apr",
    "mai": "may", "juin": "jun", "juil": "jul", "ao√ªt": "aug", "aout": "aug",
    "sept": "sep", "oct": "oct", "nov": "nov", "d√©c": "dec", "dec": "dec"
}

def nettoyer_date(date_str):
    if pd.isna(date_str):
        return None

    s = date_str.strip().lower()

    # Supprimer suffixes anglais : 1st, 2nd, 3rd, 4th...
    s = re.sub(r'(\d+)(st|nd|rd|th)', r'\1', s)

    # Traduire les mois fran√ßais ‚Üí anglais
    for fr, en in mois_fr.items():
        s = re.sub(fr, en, s, flags=re.IGNORECASE)

    # Uniformiser les s√©parateurs
    s = re.sub(r'[-/.]', ' ', s)

    try:
        if re.match(r'^\s*\d{4}\s', s):
            parsed = parser.parse(s, yearfirst=True, dayfirst=False)
        else:
            parsed = parser.parse(s, dayfirst=True)
        return parsed
    except Exception:
        return None

df['game_date'] = df['game_date'].apply(nettoyer_date)
df['DayOfWeek'] = df['game_date'].dt.day_name()

print("‚úì Dates converties")
print("\nAper√ßu des dates :")
print(df[['game_date', 'DayOfWeek']].head(10))

‚úì Dates converties

Aper√ßu des dates :
    game_date DayOfWeek
0  2023-02-06    Monday
1  2023-03-24    Friday
2  2025-01-13    Monday
3  2025-11-11   Tuesday
4  2023-09-30  Saturday
5  2023-07-04   Tuesday
6  2023-11-16  Thursday
8  2023-03-20    Monday
9  2024-02-04    Sunday
10 2023-06-24  Saturday

## 9. Conversion de la dur√©e

Conversion de diff√©rents formats de dur√©e en secondes :
- HH:MM:SS ou MM:SS
- "10min" ou "4 min"
- Format d√©cimal "4.1" ou "4,1"

In [39]:
def duration_to_seconds(duration):
    """Convertit diff√©rentes repr√©sentations de dur√©e en secondes."""
    if pd.isna(duration):
        return np.nan

    s = str(duration).strip().lower()

    # Format HH:MM:SS ou MM:SS
    if ':' in s:
        try:
            parts = list(map(int, s.split(':')))
            if len(parts) == 3:
                return parts[0]*3600 + parts[1]*60 + parts[2]
            elif len(parts) == 2:
                return parts[0]*60 + parts[1]
        except:
            return np.nan

    # Format "10min", "4 min"
    match_min = re.match(r'(\d+(\.\d+)?|\d+,\d+)\s*min', s)
    if match_min:
        val = match_min.group(1).replace(',', '.')
        try:
            return int(float(val) * 60)
        except:
            return np.nan

    # Format d√©cimal en minutes "4,1" ou "4.1"
    match_decimal = re.match(r'^\d+([.,]\d+)?$', s)
    if match_decimal:
        val = s.replace(',', '.')
        try:
            return int(float(val) * 60)
        except:
            return np.nan

    return np.nan

df['game_duration'] = df['game_duration'].apply(duration_to_seconds)

print("‚úì Dur√©es converties en secondes")
print(f"Dur√©e moyenne : {df['game_duration'].mean():.0f} secondes ({df['game_duration'].mean()/60:.1f} minutes)")

‚úì Dur√©es converties en secondes
Dur√©e moyenne : 1050 secondes (17.5 minutes)

## 10. Nettoyage du nombre de participants

In [40]:
def clean_attendance(value):
    """Extrait le nombre entier du nombre de joueurs."""
    if pd.isna(value):
        return np.nan
    s = str(value).strip().lower()

    # Cherche le premier nombre dans la cha√Æne
    match = re.search(r'\d+', s)
    if match:
        return int(match.group())
    return np.nan

# √âtape 1 : nettoyer attendance_count
df["attendance_count"] = df["attendance_count"].apply(clean_attendance).astype("Int64")

# √âtape 2 : calculer le nombre de joueurs r√©els par match
df["real_player_count"] = df.groupby("game_id")["player_id"].transform("nunique")

# √âtape 3 : corriger attendance_count si NaN ou inf√©rieur au nombre de joueurs
df["attendance_count"] = df.apply(
    lambda row: row["real_player_count"]
    if pd.isna(row["attendance_count"]) or row["attendance_count"] < row["real_player_count"]
    else row["attendance_count"],
    axis=1
)

# supprimer la colonne temporaire
df = df.drop(columns="real_player_count")

print("‚úì Nombre de participants nettoy√©")
print(f"Nombre moyen de participants : {df['attendance_count'].mean():.1f}")

‚úì Nombre de participants nettoy√©
Nombre moyen de participants : 5.1

## 11. Nettoyage des √¢ges

In [41]:
def nettoyer_age(age_str):
    if pd.isna(age_str):
        return None

    s = str(age_str).lower().strip()

    # Supprimer les caract√®res non alphanum√©riques (sauf espaces)
    s = re.sub(r'[^\w\s]', '', s)

    # Supprimer les mots inutiles
    s = re.sub(r'\b(yrs?|years?|ans?|yo)\b', '', s)
    s = s.strip()

    # Si la cha√Æne contient un nombre ‚Üí extraire le premier
    num_match = re.search(r'\d+', s)
    if num_match:
        return int(num_match.group())

    # Sinon, tenter de convertir les mots anglais en nombre
    try:
        return w2n.word_to_num(s)
    except Exception:
        return None

df["player_age"] = df["player_age"].apply(nettoyer_age).astype('Int64')

print("‚úì √Çges nettoy√©s")
print(f"√Çge moyen : {df['player_age'].mean():.1f} ans")

‚úì √Çges nettoy√©s
√Çge moyen : 23.8 ans

## 12. Nettoyage des autres colonnes

Standardisation de :
- Location
- Player Role
- Referee
- Season

In [42]:
# Location
df['location'] = (df['location']
    .str.strip()
    .str.upper()
    .replace(['TOULOUSE','YNOV TLS', 'YNOV - B√ÇTIMENT A','YNOV_TLS'], 'YNOV TOULOUSE')
    .fillna('UNKNOWN'))

# Player Role
df['player_role'] = (df['player_role']
    .str.strip()
    .str.upper()
    .replace(['DEF','DEFENCE'], 'DEFENSE')
    .replace(['ATT', 'ATTCK'], 'ATTACK')
    .fillna('UNKNOWN'))

# Referee
df['referee'] = (df['referee']
    .str.strip()
    .str.upper()
    .replace(['YES','NO', 'PLAYER1'], 'NONE')
    .fillna('NONE'))

# Season
df['season'] = (df['season']
    .str.strip()
    .replace(['s24/25','Season 24-25'], '2024/2025')
    .replace('2025 Season', '2025'))

print("‚úì Colonnes standardis√©es")
print(f"\nLocations : {df['location'].unique()}")
print(f"R√¥les : {df['player_role'].unique()}")
print(f"Saisons : {df['season'].unique()}")

‚úì Colonnes standardis√©es

Locations : ['YNOV TOULOUSE' 'CAFETERIA (1ST FLOOR)' 'GYM HALL' 'SALLE POLYVALENTE'
 'CAMPUS - CAFETERIA' 'BAR LE FOOS' 'STUDENT HOUSE' 'LAB 204']
R√¥les : ['DEFENSE' 'ATTACK']
Saisons : ['2023/2024' '2024/2025' '2025']

## 13. Standardisation des ratings

Conversion des ratings en √©chelle num√©rique (1-5)

In [43]:
def standardize_rating(rating):
    """Convertit le rating en une √©chelle num√©rique (1-5)."""
    if pd.isna(rating):
        return np.nan

    rating = str(rating).strip().lower()

    # Mapping des symboles et mots-cl√©s
    if '‚≠ê‚≠ê‚≠ê‚≠ê‚≠ê' in rating or 'five' in rating:
        return 5
    elif '‚≠ê‚≠ê‚≠ê‚≠ê' in rating or 'four' in rating or 'üôÇ' in rating:
        return 4
    elif '‚≠ê‚≠ê‚≠ê' in rating or 'three' in rating or 'üòê' in rating:
        return 3
    elif '‚≠ê‚≠ê' in rating or 'two' in rating:
        return 2
    elif '‚≠ê' in rating or 'one' in rating or 'üò°' in rating:
        return 1

    # Conversion simple pour les notes num√©riques directes
    try:
        val = float(rating)
        return val if 1 <= val <= 5 else np.nan
    except:
        return np.nan

df['rating_raw'] = df['rating_raw'].apply(standardize_rating).astype('Int64')

print("‚úì Ratings standardis√©s")

‚úì Ratings standardis√©s

## 14. Aper√ßu du dataset nettoy√©

In [44]:
print("=" * 70)
print("APER√áU DU DATASET NETTOY√â")
print("=" * 70)

print(f"\nDimensions : {df.shape[0]} lignes √ó {df.shape[1]} colonnes")
print(f"\nNombre de matchs uniques : {df['game_id'].nunique()}")
print(f"\nNombre de joueurs uniques : {df['player_id'].nunique()}")
print(f"\nP√©riode couverte : {df['game_date'].min()} ‚Üí {df['game_date'].max()}")

print("\n" + "=" * 70)
df.head()

======================================================================
APER√áU DU DATASET NETTOY√â
======================================================================

Dimensions : 95340 lignes √ó 36 colonnes

Nombre de matchs uniques : 23835

Nombre de joueurs uniques : 800

P√©riode couverte : 2023-01-01 00:00:00 ‚Üí 2025-12-31 00:00:00

======================================================================

,game_id,game_date,location,table_id,table_condition,ball_type,music_playing,referee,game_duration,final_score_red,...,mood,player_comment,team_color,is_substitute,ping_ms,notes,duplicate_flag,misc,created_at,DayOfWeek
0,G015295,2023-02-06,YNOV TOULOUSE,T05,beer stains,NaN,Spotify: Queen - We Will Rock You,PAUL KIM,747,0,...,1,ref biased,RED,yes,185,injured,NaN,NaN,2025-10-02T10:41:54,Monday
1,G023800,2023-03-24,CAFETERIA (1ST FLOOR),T07,worn,NaN,Indie playlist,NONE,514,10,...,üôÇ,NaN,BLUE,yes,NaN,NaN,0,-,2025-10-02T10:41:55,Friday
2,G023577,2025-01-13,GYM HALL,T26,scratched,NaN,Spotify: Queen - We Will Rock You,LENA CLEMENT,1032,2,...,2,NaN,RED,no,NaN,double booked,0,NaN,2025-10-02T10:41:55,Monday
3,G020644,2025-11-11,SALLE POLYVALENTE,T21,worn,mini ball,EDM mix,ISABELLA GIRARD,310,6,...,3,team spirit high,BLUE,maybe,NaN,double booked,NaN,-,2025-10-02T10:41:54,Tuesday
4,G011677,2023-09-30,CAMPUS - CAFETERIA,T26,missing screw,trainer ball,Oldies 80s,NONE,360,3,...,üòÇ,rage quit,RED,yes,NaN,NaN,NaN,NaN,2025-10-02T10:41:54,Saturday

## 15. Exportation du dataset nettoy√©

In [45]:
# S√©lection des colonnes finales
colonnes_finales = [
    'game_id', 'game_date', 'DayOfWeek', 'location', 'game_duration',
    'final_score_red', 'final_score_blue', 'winner',
    'player_id', 'player_canonical_name', 'team_color', 'player_role',
    'player_goals', 'player_own_goals', 'player_assists', 'player_saves',
    'referee', 'attendance_count', 'season', 'recorded_by', 'rating_raw',
    'player_comment', 'player_age'
]

# Cr√©ation du dataset final
df_clean = df.filter(items=colonnes_finales).copy()

# Enregistrement du fichier
df_clean.to_csv('dataset_Ynov_babyfoot_CLEAN.csv', index=False)

print("NETTOYAGE TERMIN√â")
print(f"\nLignes finales : {df_clean.shape[0]}")
print(f"\nFichier export√© : dataset_Ynov_babyfoot_CLEAN.csv")

NETTOYAGE TERMIN√â

Lignes finales : 95340

Fichier export√© : dataset_Ynov_babyfoot_CLEAN.csv

## üìù R√©sum√© des transformations

### Transformations effectu√©es :

1. **Doublons et valeurs manquantes** : Suppression des lignes avec IDs critiques manquants
2. **Scores** : Normalisation du format 'x - y' et validation (0-10)
3. **Couleurs** : Standardisation RED/BLUE/DRAW
4. **Statistiques joueurs** : Conversion texte ‚Üí nombre (buts, assists, saves)
5. **Dates** : Parsing multilingue FR/EN + extraction du jour de la semaine
6. **Dur√©es** : Conversion en secondes (formats HH:MM:SS, "Xmin", d√©cimal)
7. **Participants** : Extraction du nombre de joueurs
8. **√Çges** : Nettoyage et conversion en nombre
9. **Localisation** : Standardisation des lieux
10. **R√¥les** : Uniformisation ATTACK/DEFENSE
11. **Arbitres** : Normalisation
12. **Saisons** : Standardisation du format
13. **Ratings** : Conversion en √©chelle 1-5

###  Dataset pr√™t pour l'analyse et la mod√©lisation IA !

Le fichier `dataset_Ynov_babyfoot_CLEAN.csv` peut maintenant √™tre utilis√© pour :
- Analyse exploratoire des donn√©es (EDA)
- Visualisations statistiques
- Mod√©lisation pr√©dictive
- Analyse des performances joueurs
- D√©tection de patterns de jeu